@font-face {
  font-family: FromCartoonBlocks;
  src: url(../assets/From_Cartoon_Blocks.ttf);
}

body,
div,
html {
  border: 0;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(http://pageresource.com/wallpapers/wallpaper/wall-graffiti_85807.jpg) no-repeat 50% fixed;
  background-size: cover;
}

p {
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #106cc8;
  outline: none;
  padding: 8px;
}

button,
input {
  font-size: 14px;
  height: 40px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: hsla(0,0%,100%,.87);
  cursor: pointer;
  display: inline-block;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

#fork {
  position: fixed;
  top: 0;
  right: 0;
}

body {
  position: relative;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.italic {
  font-style: italic;
  text-decoration: underline;
}

h1,
h4 {
  font-family: FromCartoonBlocks;
  font-size: 3rem;
  margin-bottom: 0;
  border: 0;
  text-shadow: 1px 1px 1px #000;
  -webkit-transform: rotate(-11deg);
  transform: rotate(-11deg);
}

h1,
h4,
p {
  text-align: center;
  color: #fff;
}

p {
  font-family: cursive;
  line-height: 16pt;
  text-shadow: 1px 1px 1px red;
}

.button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#restart {
  font-size: 12pt;
  color: #666;
  background-color: #dedede;
  padding: 5px 15px;
}

#board-outer {
  height: 350px;
  width: 350px;
  background-color: none;
  overflow: hidden;
}

#board {
  width: 354px;
  height: 354px;
  background-color: none;
  border-spacing: 0;
  margin-left: -2px;
  margin-top: -2px;
  background: url(../assets/board.png) no-repeat;
  background-size: 100%;
}

td {
  height: 116px;
  width: 116px;
  text-align: center;
  font-family: cursive;
  font-size: 40pt;
  border-collapse: collapse;
  text-transform: uppercase;
  color: #999;
  text-shadow: 1px 2px #000;
}

.x {
  color: coral;
}

.o {
  color: #fff;
}