<p>
  Simple @ngrx Auth and more
</p>

<h2>Features</h2>
<ul>
  <li>@ngrx/core</li>
  <li>@ngrx/store</li>
  <li>@ngrx/effects</li>

  
  <li>store-devtools</li>
  <li>ngrx-store-freeze</li>
  <li>ngrx-store-logger</li>
</ul>


<h3>Example login with @ngrx</h3>

<p>login is valid for any input except user is empty.</p>

<input #username type="text" placeholder="username">
<input #password type="password" placeholder="password">
<button (click)="login({ username: username.value, password: password.value })">Lets login!</button>

<br><br>

<section *ngIf="token$ | async">
  Yeah! Login Information:

  <pre>{{user$ | async | json }}</pre>
</section>
